/********** Base styles **********/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica;
  }
  
  h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 175%;
  }
  
  p {
    width: 90%;
    padding-top: 6px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(0, 0, 0);
    clear: both;
  }
  
  .container {
    width: auto;
    border: 1px solid black;
    background-color: #939393;
    margin: 15px;
  }

  div.section_title {
      float: right;
      padding: 2px 21px;
      border: 1px solid black;
      font-size: 125%;
  }

  #chicken {
    background-color: #fc4fd6;
  }

  #beef {
    background-color: #fd2313;
  }

  #sushi {
    background-color: #dac44c;
  }
  
  /* Simple Responsive Framework. */
  .row {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }
  
  /********** Personal computers only **********/
  @media (min-width: 992px) {
    .col-PC-1, .col-PC-2, .col-PC-3, .col-PC-4, .col-PC-5, .col-PC-6, .col-PC-7, .col-PC-8, .col-PC-9, .col-PC-10, .col-PC-11, .col-PC-12 {
      float: left;
    }
    .col-PC-1 {
      width: 8.33%;
    }
    .col-PC-2 {
      width: 16.66%;
    }
    .col-PC-3 {
      width: 25%;
    }
    .col-PC-4 {
      width: 33.33%;
    }
    .col-PC-5 {
      width: 41.66%;
    }
    .col-PC-6 {
      width: 50%;
    }
    .col-PC-7 {
      width: 58.33%;
    }
    .col-PC-8 {
      width: 66.66%;
    }
    .col-PC-9 {
      width: 74.99%;
    }
    .col-PC-10 {
      width: 83.33%;
    }
    .col-PC-11 {
      width: 91.66%;
    }
    .col-PC-12 {
      width: 100%;
    }
  }
  
  /********** Tablets only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
      float: left;
    }
    .col-tablet-1 {
      width: 8.33%;
    }
    .col-tablet-2 {
      width: 16.66%;
    }
    .col-tablet-3 {
      width: 25%;
    }
    .col-tablet-4 {
      width: 33.33%;
    }
    .col-tablet-5 {
      width: 41.66%;
    }
    .col-tablet-6 {
      width: 50%;
    }
    .col-tablet-7 {
      width: 58.33%;
    }
    .col-tablet-8 {
      width: 66.66%;
    }
    .col-tablet-9 {
      width: 74.99%;
    }
    .col-tablet-10 {
      width: 83.33%;
    }
    .col-tablet-11 {
      width: 91.66%;
    }
    .col-tablet-12 {
      width: 100%;
    }
  }
  
  /********** Smartphones only **********/
  @media (max-width: 767px) {
    .col-SF-1, .col-SF-2, .col-SF-3, .col-SF-4, .col-SF-5, .col-SF-6, .col-SF-7, .col-SF-8, .col-SF-9, .col-SF-10, .col-SF-11, .col-SF-12 {
      float: left;
    }
    .col-SF-1 {
      width: 8.33%;
    }
    .col-SF-2 {
      width: 16.66%;
    }
    .col-SF-3 {
      width: 25%;
    }
    .col-SF-4 {
      width: 33.33%;
    }
    .col-SF-5 {
      width: 41.66%;
    }
    .col-SF-6 {
      width: 50%;
    }
    .col-SF-7 {
      width: 58.33%;
    }
    .col-SF-8 {
      width: 66.66%;
    }
    .col-SF-9 {
      width: 74.99%;
    }
    .col-SF-10 {
      width: 83.33%;
    }
    .col-SF-11 {
      width: 91.66%;
    }
    .col-SF-12 {
      width: 100%;
    }
  }
  